@import url('https://fonts.googleapis.com/css2? family= Inter:wght@200;300;400 & family= Roboto:wght@100;300 & display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'inter', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
    z-index: 8;
        
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
   
}

.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: antiquewhite;
}

.redes-sociais img{
    width: 22px;
    height: 22px;
    margin: 8px;
    background-color: white;
    border-radius: 25px;

    
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #FFF;
    font-weight: 400;
}

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
@media screen and (max-width:730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
   
    .open{
        display: block;
    }


}
body{
    margin:0;
    padding:0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
  }
  
  .wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  
  
  main{
    display: block;
    background-color: #FFF;
  }
  
  .container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .container h2{
    text-align: center;
    
  }
 
  
  
  section.module p{
    margin-bottom: 40px;
  }
  
  section.module:last-child{
    margin-bottom: 0;
  }
  
  section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    
  }
  
  section.module.content{
   padding: 40px 0;
   background: #ece7d5;
   
  }
  
  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
   
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }
  
  
  section.module.parallax-1{
    background-image: url("../img/planer.jpg");
  }
  
  section.module.parallax-2{
    background-image: url("../img/planer\ 2.jpg");
  }
  
  section.module.parallax-3{
    background-image: url("../img/planer\ 4.jpg");
  }
  
  section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 2;
    text-transform: uppercase;
  }

  .rodape {
    background-color: black;
    width: 100%;
    height: 25%;
    padding: 20px;
    color: white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

  }
  
  
  @media all and (max-width: 820px) {
    section.module h2 {
      font-size: 32px;
    }
    .module h2, p{
      padding: 0 8px;
    }
  
    .container{
      margin:0;
      padding:0;
    }
  
    section.module.parallax h1 {
      font-size: 36px;
    }
  }

  